@import 'reset.css';
@import 'fonts.css';
@import 'header.css';
@import 'main.css';
@import 'footer.css';

body {
    font-family: Montserrat;
    font-weight: 400;
    color: white;
}
._container {
    max-width: 2560px;
    margin: 0 auto;
    box-sizing: content-box;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}